.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .block {
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
  }
  
  .color-picker_buttons {
    display: flex;
    gap: 15px;
  }
  
  .picker_btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 600;


  }
  .btn-red {
    background: red;
  }
  
  .btn-green {
    background: green;
  }
  
  .btn-blue {
    background: blue;
  }
  